API_PORT=3000
WOKWI_RFC2217_PORT=4000

WEATHER_LOCATION="Santiago, CL"
WEATHER_LATITUDE=-33.4489
WEATHER_LONGITUDE=-70.6693
WEATHER_TIMEZONE=America/Santiago
WEATHER_POLL_MS=600000
WEATHER_AUTOMATION_ENABLED=true
WEATHER_LOW_TEMP=10
WEATHER_HIGH_TEMP=26

LIGHT_AUTOMATION_ENABLED=true
LIGHT_ON_HOUR=6
LIGHT_OFF_HOUR=20
